<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark grey darken-2">

    <!-- Navbar brand -->


    <!-- logo -->
    <div class="logo">
        <img src="../../images/UCSCLogo.png" height="90" alt="User" />
    </div>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Office Bearers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Events</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">WIE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact US</a>
            </li>

        </ul>
        <!-- Links -->





    </div>
    <div id="search">
        <form class="form-inline">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="" aria-label="Search">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->