---
layout: default
title: Home
---

<section id="home_section_one" class="container home-section">
  <div class="rellax intro-circle-one" data-rellax-speed="1"></div>
  <div class="rellax intro-square-one" data-rellax-speed="3"></div>
  <div class="rellax intro-square-two" data-rellax-speed="5"></div>
  <div class=" intro-text rellax">
    <h1 class="mdc-typography--headline1 font-mon intro-head">
      Create
    </h1>
    <h1 class="mdc-typography--headline1 font-mon intro-sub">
      Connect.
    </h1>
  </div>
</section>

<section id="home_section_two" class="home-section">
  {% assign latest = site.posts | where: 'isLatest', 'true' %}
  {% for post in latest limit: 1 %}
  <div class="latest">
    <img class="rellax" data-rellax-percentage="0.5" src="{{ site.baseurl }}/assets/images/content/{{ post.image }}" />
    <div class="latest-content rellax" data-rellax-speed="-2">
      <h1 class="mdc-typography--headline2 latest-title">{{ post.title }}</h1>
      <hr>
      <div class="latest-des">{{ post.excerpt }}</div>
    </div>
    <h1 class="mdc-typography--headline1 font-mon latest-head">
      Latest
    </h1>
  </div>
  {% endfor %}
</section>

<section id="home_section_three" class="container home-section">
  <div class="rellax gallery-circle-one" data-rellax-speed="3"></div>
  <div class="row rellax" data-rellax-speed="-1">
    <h1 class="mdc-typography--headline1 font-mon gallery-head">
      Moments
    </h1>
  </div>
  <div class="row">
    <div class="gallery -square -portrait">
      {% for item in site.gallery %}
      <a href="https://blog.tumblr.com/image/0000000000" target="_blank" class="photo"
        style="background-image:url(assets/images/gallery/{{item.image}})"></a>
      {% endfor %}
    </div>
  </div>
  <div class="rellax gallery-circle-two" data-rellax-speed="1"></div>
</section>

<section id="home_section_four" class="container home-section">
  <div class="row rellax" data-rellax-speed="0.3">
    <h1 class="mdc-typography--headline1 font-mon about-head">
      About Us
    </h1>
  </div>
  <div class="row about-content">
    <p>
      IEEE student branch of University of Colombo School of Computing was established in 2011 and has achieved great
      success during past few years. Student branch has been formed with the participation and contribution of all four
      batches of University of Colombo School of Computing and it has been organizing many activities to enhance
      professional development of the students.
    </p>
    <p>
      As well as the technological experience and knowledge, personality development skills such as organization,
      leadership, interaction can be gained through engaging to the activities organized by the IEEE student branch of
      UCSC. Because the core purpose of the IEEE student branch of UCSC is to serve the humanity through technological
      innovations.
    </p>
  </div>
</section>