<!--Main layout-->
<main >

    <!--Main container-->
    <div class="container" id  >

        <br><br><br><br><br><br>
        <h4>IEEE WIE UCSC Student Branch Affinity Group
        </h4>
        <br>
        <!--Grid row-->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card-body">
                    <div class="view overlay zoom">
                        <img src="../images/wie.jpg" class="img-fluid rounded-circle hoverable" alt="zoom" height="260" width="260">

                    </div>
                    <!--&lt;!&ndash;Title&ndash;&gt;-->
                    <!--<br>-->
                    <!--<h4 class="card-title text-center" style="color: #0e4377;"></h4>-->
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card-body">
                    IEEE Women in Engineering (WIE) is an international organization which is established
                    in order to promote and inspire all the women around the world to step towards in the world of
                    Engineering.IEEE WIE student branch of University of Colombo School of Computing (UCSC) was
                    started in order to improve the women’s contribution towards electrical and electronic
                    engineering among the universities and schools while empowering women of all the spheres in
                    the society to stand up high in their respected fields.
                </div>
                <a class="btn btn-outline-black" href="http://ucscwie.blogspot.com/p/about-us_14.html" target="_blank" role="button">Visit WIE Blog
                    <span class="glyphicon glyphicon-link"></span>
                </a>
            </div>
        </div>
        <!--Grid row-->
        <div class="default-color lighten-4">
            <div class="container">

            </div>
        </div>
    </div>
    <!--Main container-->

</main>
<!--Main layout-->


