@font-face {
  font-family: pragmetica;
  src: url(../fonts/pragmatica_1.woff);
}

body {
  font-family: pragmetica;

}

.navbar {
  position: fixed;
  width: 100%;
  height: 15%;
  padding:10px;
  z-index: 999;
}


.navbar .navbar-collapse.in {
  overflow: visible;

}

.logo{
  height="90"
}
#myCarousel{
  padding: 5px 0px 0px 0px ;

}

a {
  color: #00B7FF;
}
.nav-wrapper {

}
