<div class="container">
  <div class="row">
    <div class="col-3">
      <img class="footer-logo" src="{{ site.baseurl }}/assets/images/UCSC.png" width="100%" />
    </div>
    <div class="col-2"></div>
    <div class="col-7 footer-nav">
      <div>
        {% for item in site.data.nav %}
        <a href="{{ site.baseurl }}{{ item.link }}" class="ieee-nav-item mdc-button">
          <span class="mdc-button__label">{{ item.name }}</span>
        </a>
        {% endfor %}
      </div>
      <div class="footer-copyrights">
        © 2019 - All Right Reservered
      </div>
    </div>
  </div>
</div>