.contact-content p {
  margin-bottom: 0.2rem;
}

.contact-content div {
  margin-bottom: 1.8rem;
}

.officials-header {
  margin-top: 4rem;
}

.officials-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
}