.container {
  width: 100%;

  @media screen and (min-width: $break-tablet) {
    width: 90%;
  }
}

.mdc-typography--headline1 {
  font-size: 5.4rem !important;

  @media screen and (min-width: $break-tablet) {
    font-size: 8rem !important;
  }
}

.home-section {
  overflow: hidden;
}

/* Intro */
#home_section_one {
  height: 900px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.intro-text {
  margin-top: 8rem;
}

.intro-head {
  font-size: 8rem;
  color: #333447;
}

.intro-sub {
  font-size: 5rem;
  color: $primary-color;
}

.intro-circle-one {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #000000f2;
  border-radius: 50%;
}

.intro-square-one {
  position: absolute;
  bottom: 12rem;
  right: 16rem;
  width: 200px;
  height: 200px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  background-color: $primary-color;
  border-radius: 50%;
}

.intro-square-two {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 6rem;
  bottom: 12rem;
  transform: rotate(45deg);
  background-color: gray;
  border-radius: 50%;
}

/* Latest section */
#home_section_two {
  height: 840px;
}

.latest {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @media screen and (min-width: $break-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $break-desktop) {
    width: 72%;
  }
}

.latest img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  @media screen and (min-width: $break-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $break-desktop) {
    width: 80%;
  }
}

.latest-content {
  position: absolute;
  right: 0;
  top: 10rem;
  width: 320px;
  height: 320px;
  background: $primary-color;
  border-radius: 50%;
  padding: 6rem ;
  text-align: center;
}

.latest-head {
  position: absolute;
  left: 2rem;
  color: white;
  top: -1.2rem;
  font-size: 6rem;
  text-shadow: 2px 2px #00000044;
  @media screen and (min-width: $break-desktop) {
    top: -0.7rem;
    font-size: 8rem;
  }
}

.latest-title {
  transform: translateZ(70px);
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.latest-content hr {
  opacity: 0.2;
  margin-bottom: 1rem;
}

.latest-des p {
  color: #ffffff88;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* Gallery */

#home_section_three {
  margin-top: 8rem;
  padding: 8rem 0 12rem 0;
  position: relative;
}

.gallery-head {
  font-size: 8rem;
  color: #333447;
  float: right;
  margin-bottom: 6rem;
}

.gallery-circle-one {
  position: absolute;
  top: 12rem;
  left: 2rem;
  width: 400px;
  height: 400px;
  background-color: #cfcfcf;
  border-radius: 50%;
}

.gallery-circle-two {
  position: absolute;
  bottom: 6rem;
  right: 8rem;
  width: 160px;
  height: 160px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  background-color: $primary-color;
  border-radius: 50%;
}

.gallery {
  padding: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .photo {
     position: relative;
     flex-grow: 1;
     min-width: calc(100% / 3);
     background-size: auto 100%;
     background-position: center;
     -webkit-transition: 0.2s ease-out;
     transition: 0.2s ease-out;

     @media screen and (max-width: 700px) {
        min-width: calc(100% / 2); 
     }
     @media screen and (max-width: 460px) {
        min-width: 100%;
     }
     &:after {
        //Aspect Ratio
        padding-top: 83.33333%;
        display: block;
        content: "";
     }
     &:before {
        //Gaps
        z-index: 2;
        position: absolute;
        content: "";
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
     }
     &:nth-child(1) {
        //Make first image big
        width: 50%;
     }
     &:nth-child(2) {
        //Make first image big
        width: 50%;
     }
  }
    
  .photo:hover {
    background-size: auto 110%;
  }

  &.square .photo:after {
     padding-top: 100%;
  }
  &.portrait .photo:after {
     padding-top: 100%;
  }
}

/* About */
#home_section_four{
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 90%;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.about-head {
  color: #333447;
}

.about-content {
  margin-top: 3rem;
}