.home-section {
  overflow: hidden;
}

#home_section_one {
  height: 720px;
  background-color: #ffffff;
}

#home_section_two {
  height: 720px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}