.home-section {
  overflow: hidden;
}

#home_section_one {
  height: 720px;
  background-color: #ffffff;
}

#home_section_two {
  height: 840px;
}

#home_section_three {
  height: 720px;
  background-image: red;
}

.latest {
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}

/* Latest section */
.latest img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  height: 80%;
  @media screen and (min-width: $break-tablet) {
    transform: translate(-50%,-50%);
  }
  @media screen and (min-width: $break-desktop) {
    transform: translate(-70%,-50%);
  }
}

.latest-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate3d(-50%,-50%, 50px);
  width: 420px;
  background: black;
  padding: 4rem 2rem;
  @media screen and (min-width: $break-tablet) {
    transform: translate3d(-50%,-50%, 50px);
  }
  @media screen and (min-width: $break-desktop) {
    transform: translate3d(30%,-50%, 50px);
  }
}

.latest-title {
  transform: translateZ(70px);
  color: #ffffff;
  margin-bottom: 1rem;
}

.latest-content hr {
  opacity: 0.2;
  margin-bottom: 1rem;
}

.latest-des {
  color: #ffffffee;
}