/* Nav */
.mdc-top-app-bar {
  background-color: #fffffff0;
  color: #000;
}

.ieee-logo {
  height: 42px;
  margin-left: 24px;
}

.ieee-nav-item {
  margin-right: 8px;
}

.nav-menu-icon {
  color: #000 !important;
  @media screen and (min-width: $break-desktop) {
    display: none;
  }
}

.nav-menu {
  visibility: hidden;
  @media screen and (min-width: $break-desktop) {
    visibility: visible;
  }
}