.news-item {
  margin-bottom: 1rem;
  @media screen and (min-width: $break-tablet) {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: $break-desktop) {
    margin-bottom: 5rem;
  }
}

.news-item-header {
  color: inherit;
}