.post-page-headline {
  margin-top: 3rem;
  margin-bottom: 0;
}

.article-back {
  margin-bottom: 1rem;
}

.article-subtitle {
  color: gray;
}

.article-content {
  margin-bottom: 200px;
  text-align: justify;

  img {
    margin: 2rem 0;
    width: 100%;
    height: 320px;
    object-fit: cover;
    
    @media screen and (min-width: $break-desktop) {
      margin: 2rem 10%;
      width: 80%;
      height: 440px;
    }
  }
}

.article-image {
  width: 100%;
  height: 480px;
  object-fit: cover;
  margin: 2rem 0;
}