@import './var.scss';

.tier {
  margin-bottom: 4rem;
  @media screen and (min-width: $break-tablet) {
    margin-bottom: 6rem;
  }
  @media screen and (min-width: $break-desktop) {
    margin-bottom: 8rem;
  }
}

.member-cell {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  -webkit-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
}

.member-cell:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

.member-image {
  object-fit: cover;
  width: 100%;
}
