@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
:root {
  --mdc-theme-primary: #046693; }

* {
  margin: 0;
  font-family: 'PT Sans', sans-serif; }

a {
  color: black;
  text-decoration: none; }

.page-headline {
  color: #046693;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 8rem; }
  @media screen and (min-width: 480px) {
    .page-headline {
      margin-top: 3rem;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 840px) {
    .page-headline {
      margin-top: 5rem;
      margin-bottom: 5rem; } }

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #046693;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white; }

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Footer */
footer {
  margin-top: 12rem;
  padding: 3rem 0;
  background-color: #f4f4f4; }

.footer-logo {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  opacity: 0.6; }

.footer-copyrights {
  color: #afafaf;
  margin: 2rem 16px 0 0; }

.footer-nav {
  text-align: right; }

.font-mon {
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 80rem; }

/* Nav */
.mdc-top-app-bar {
  background-color: #fffffff0;
  color: #000; }

.ieee-logo {
  height: 42px;
  margin-left: 24px; }

.ieee-nav-item {
  margin-right: 8px; }

.nav-menu-icon {
  color: #000 !important; }
  @media screen and (min-width: 840px) {
    .nav-menu-icon {
      display: none; } }

.nav-menu {
  visibility: hidden; }
  @media screen and (min-width: 840px) {
    .nav-menu {
      visibility: visible; } }

.home-section {
  overflow: hidden; }

/* Intro */
#home_section_one {
  height: 900px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }

.intro-text {
  margin-top: 8rem; }

.intro-head {
  font-size: 8rem; }

.intro-sub {
  font-size: 5rem;
  color: #046693; }

.intro-circle-one {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #000000f2;
  border-radius: 50%; }

.intro-square-one {
  position: absolute;
  bottom: 12rem;
  right: 16rem;
  width: 200px;
  height: 200px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  background-color: #046693;
  border-radius: 50%; }

.intro-square-two {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 6rem;
  bottom: 12rem;
  transform: rotate(45deg);
  background-color: gray;
  border-radius: 50%; }

/* Latest section */
#home_section_two {
  height: 840px; }

.latest {
  height: 100%;
  position: relative;
  width: 72%;
  margin: 0 auto; }

.latest img {
  position: absolute;
  width: 80%; }

.latest-content {
  position: absolute;
  right: 0;
  top: 10rem;
  width: 320px;
  height: 320px;
  background: #046693;
  border-radius: 50%;
  padding: 6rem;
  text-align: center; }

.latest-head {
  position: absolute;
  top: -0.7rem;
  left: 2rem;
  color: white;
  font-size: 8rem; }

.latest-title {
  transform: translateZ(70px);
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.latest-content hr {
  opacity: 0.2;
  margin-bottom: 1rem; }

.latest-des p {
  color: #ffffff88; }

/* Gallery */
#home_section_three {
  margin-top: 8rem;
  padding: 12rem 0;
  position: relative; }

.gallery-head {
  font-size: 8rem;
  float: right;
  margin-bottom: 6rem; }

.gallery-circle-one {
  position: absolute;
  top: 12rem;
  left: 2rem;
  width: 400px;
  height: 400px;
  background-color: #cfcfcf;
  border-radius: 50%; }

.gallery-circle-two {
  position: absolute;
  bottom: 6rem;
  right: 8rem;
  width: 160px;
  height: 160px;
  transform: translate3d(0px, 0px, 0px) rotate(45deg);
  background-color: #046693;
  border-radius: 50%; }

.gallery {
  padding: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .gallery .photo {
    position: relative;
    flex-grow: 1;
    min-width: calc(100% / 3);
    background-size: auto 100%;
    background-position: center;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
    @media screen and (max-width: 700px) {
      .gallery .photo {
        min-width: calc(100% / 2); } }
    @media screen and (max-width: 460px) {
      .gallery .photo {
        min-width: 100%; } }
    .gallery .photo:after {
      padding-top: 83.33333%;
      display: block;
      content: ""; }
    .gallery .photo:before {
      z-index: 2;
      position: absolute;
      content: "";
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }
    .gallery .photo:nth-child(1) {
      width: 50%; }
    .gallery .photo:nth-child(2) {
      width: 50%; }
  .gallery .photo:hover {
    background-size: auto 110%; }
  .gallery.square .photo:after {
    padding-top: 100%; }
  .gallery.portrait .photo:after {
    padding-top: 100%; }

/* About */
#home_section_four {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }

.about-content {
  margin-top: 3rem; }

.tier {
  margin-bottom: 4rem; }
  @media screen and (min-width: 480px) {
    .tier {
      margin-bottom: 6rem; } }
  @media screen and (min-width: 840px) {
    .tier {
      margin-bottom: 8rem; } }

.member-cell {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: filter 0.5s ease;
  transition: filter 0.5s ease; }

.member-cell:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none; }

.member-image {
  object-fit: cover;
  width: 100%; }

.news-item {
  margin-bottom: 2rem; }
  @media screen and (min-width: 480px) {
    .news-item {
      margin-bottom: 4rem; } }
  @media screen and (min-width: 840px) {
    .news-item {
      margin-bottom: 8rem; } }
  .news-item .image {
    width: 100%;
    height: 480px;
    object-fit: cover;
    margin: 1rem 0; }

.news-item-header {
  color: inherit; }

.contact-content p {
  margin-bottom: 0.2rem; }

.contact-content div {
  margin-bottom: 1.8rem; }

.officials-header {
  margin-top: 4rem; }

.officials-item {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.post-page-headline {
  margin-top: 3rem;
  margin-bottom: 0; }

.article-back {
  margin-bottom: 1rem; }

.article-subtitle {
  color: gray; }

.article-content {
  margin-bottom: 200px; }

.article-image {
  width: 100%;
  height: 480px;
  object-fit: cover;
  margin: 2rem 0; }
