<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page.title }}</title>

  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css ">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/simple-grid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>

<body>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    {% include nav.html %}
  </header>

  <main class="mdc-top-app-bar--fixed-adjust">
    {{ content }}
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script>
    const topAppBarElement = document.querySelector('.mdc-top-app-bar');
    const topAppBar = new mdc.topappbar.MDCTopAppBar(topAppBarElement);

    function navMenuClicked() {
      const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));

      drawer.open = true;
    }
  </script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/rellax.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>