---
layout: default
---

<div class="container">
  <div class="row">
    <div class="post-page-headline">
      <div class="article-back">
        <a href="{{ site.baseurl }}/news.html">
          <button class="mdc-icon-button material-icons">arrow_back</button>
        </a>
      </div>
      <h1 class="mdc-typography--headline2">{{ page.title }}</h1>
      <p class="mdc-typography--subtitle1 article-subtitle">{{ page.date | date_to_string }} - {{ page.author }}</p>
    </div>
  </div>
  <div class="row">
    {% if page.image != null %}
    <img class="article-image" src="{{ site.baseurl }}/assets/images/content/{{ page.image }}" />
    {% endif %}
  </div>
  <div class="row">
    <div class="mdc-typography--body1 article-content">
      {{ content }}
    </div>
  </div>
</div>