---
layout: default
---

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div
      class="mdc-layout-grid__cell--span-0 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-2-desktop">
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-8-desktop">
      <div class="page-headline">
        <div class="article-back">
          <a href="/news.html">
            <button class="mdc-icon-button material-icons">arrow_back</button>
          </a>
        </div>
        <h1 class="mdc-typography--headline2">{{ page.title }}</h1>
        <p class="mdc-typography--subtitle1 article-subtitle">{{ page.date | date_to_string }} - {{ page.author }}</p>
      </div>
    </div>
    <div
      class="mdc-layout-grid__cell--span-0 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-2-desktop">
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div
      class="mdc-layout-grid__cell--span-0 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-2-desktop">
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-8-desktop">
      <div class="mdc-typography--body1 article-content">
        {{ content }}
      </div>
    </div>
    <div
      class="mdc-layout-grid__cell--span-0 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-2-desktop">
    </div>
  </div>
</div>